@import "tailwindcss";

#setting-modal {
    transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
}
#setting-modal.hidden-modal {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}
#setting-modal:not(.hidden-modal) {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}